﻿@model IEnumerable<gtCalzado.Models.Compra>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Factura</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Referencia Compra", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RefCompraId", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Generar factura" class="btn btn-default" />
        </div>
    </div>
    @if (Model != null)
    {



            <div class="col-md-12 col-lg-12">
                <h5>Resultados</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><h4>#</h4></th>
                            <th><h4>Categoría</h4></th>
                            <th><h4>Color</h4></th>
                            <th><h4>Talla</h4></th>
                            <th><h4>Proveedor</h4></th>                             
                            <th><h4>Cantidad</h4></th>
                            <th><h4>Precio</h4></th>
                            <th><h4>Fecha</h4></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @{ int cont = 1;decimal total = 0;}
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td> @cont</td>
                            <td><a href="#">@Html.DisplayFor(modelItem => item.Categoria.Nombre)</a></td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Color.Nombre)</td>
                            <td class="text-center"> @Html.DisplayFor(modelItem => item.Talla.Numero)</td>
                            <td class="text-center"> @Html.DisplayFor(modelItem => item.Proveedor.Nombre)</td>
                            <td class="text-center"> @Html.DisplayFor(modelItem => item.Cantidad)</td>
                            <td class="text-center">  @Html.DisplayFor(modelItem => item.Precio)</td>
                            <td class="text-center">  @Html.DisplayFor(modelItem => item.FechaRegistro)</td>

                        </tr>
                            cont++;
                            total = total + item.Precio;
                        }

                        </tbody>
                </table>
                <div class="row text-right">
                    <div class="col-xs-2 col-xs-offset-8">
                        <p>
                            <strong>
                                Sub Total : <br>
                                IVA : <br>
                                Total : <br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-xs-2">
                        <strong>
                            $ @total <br>
                            N/A <br>
                            $ @total <br>
                        </strong>
                    </div>
                </div>
            </div>
     

    }
</div>
}

