﻿@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col-md-3">
        <h5>Proveedores</h5>
        <ul>
            @foreach (var p in ViewBag.Proveedores)
            {
                <li>p:@p.Codigo - @p.Nombre</li>
            }
        </ul>
    </div>

    <div class="col-md-9">
        <div class="col-md-12">
            <form onsubmit="return false;">
                <div class="row">
                    <div class="col-lg-12" style="    display: -webkit-inline-box;
    padding: 20px;
    background-color: white;
    margin-bottom: 5px;margin-top:5px">
                        <label style="    margin-top: 7px">Ingrese el producto a buscar</label>
                        @Html.Editor("buscador", new { htmlAttributes = new { @class = "form-control", @placeholder = "Referencia", @style = "margin-left: 10px;" } })
                        <input type="button" class="add-row" value="Agregar" style="    margin-left: 10px;
    height: 37px;">
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        <div id="datosCliente" style="background-color:white;padding:3px;text-align:center">
            <input type="text" id="txtIdCliente" placeholder="Id" disabled />
            <input type="text" id="txtCedulaCliente" placeholder="Cédula cliente" />
            <input type="text" id="txtNombreCliente" placeholder="Nombre cliente" disabled />
            <input type="text" id="txtTelefono" placeholder="Teléfono" disabled />
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Crear nuevo cliente</button>
        </div>
        <table id="myTable">
            <thead>
                <tr>
                    <th>Opción</th>
                    <th>Id</th>
                    <th>Referencia</th>
                    <th>Producto</th>
                    <th>Proveedor</th>
                    <th>Color</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="row">
            <div class="col-lg-12">
                <div style="text-align:center">
                    <span class="alert-danger" id="errorAlert"></span>
                </div>
            </div>
            <div class="col-lg-7">
                <div style="display:flex">
                    <button type="button" class="btn-danger btn btn-sm delete-row" style="height:40px !important">Eliminar producto</button>
                    <div style="margin-left:50px !important;text-align:center">
                        <label>Vendedor</label>
                        <input type="number" id="txtIdVendedor" class="form-control" style="margin-left:10px;width:90px!important" />
                        @Html.ActionLink("Nuevo Asesor", "Index", "Asesores", null, new { target = "_blank" })
                    </div>
                    <div style="margin-left:50px !important;text-align:center">
                        <label>Descuento</label>
                        <input type="number" id="txtDescuento" value="0" class="form-control" style="margin-left:10px;width:90px!important" />
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row text-right">
                    <div class="col-xs-6 ">
                        <p>
                            <strong>
                                Sub Total : <br>
                                IVA : <br>
                                Total : <br>
                            </strong>
                        </p>
                    </div>
                    <div class="col-xs-6" style="background-color:white">
                        <div id="totalBill"style="float:left"></div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="text-align:center">
            <button type="button" id="btnGuardarVentaEfectivo" class="btn btn-default btn-lg" style="font-size:30px!important">Efectivo</button>
            <button type="button" id="btnGuardarVentaTarjeta" class="btn btn-primary btn-lg" style="font-size:30px!important">Tarjeta</button>
            <button type="button" id="btnGuardarVentaCodensa" class="btn btn-warning btn-lg" style="font-size:30px!important">Codensa</button>
            <button type="button" id="btnGuardarVentaSodexo" class="btn btn-info btn-lg" style="font-size:30px!important">Sodexo</button>
            <button type="button" id="btnGuardarVentaBigPass" class="btn btn-success btn-lg" style="font-size:30px!important">Big Pass</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h5 class="btn btn-default" id="opciones">Más opciones</h5>
        <div class="row " id="mostrarOpcion" style="display:none">
            <div class="col-md-12">
                <h5>Categorías</h5>
                <ul>
                    @foreach (var ct in ViewBag.Categorias)
                    {
                        <li>ct:@ct.Codigo - @ct.Nombre</li>
                    }
                </ul>
            </div>
            <div class="col-md-12">
                <h5>Tallas</h5>
                <ul>
                    @foreach (var t in ViewBag.Tallas)
                    {
                        <li>t:@t.Id - @t.Numero</li>
                    }
                </ul>
            </div>
            <div class="col-md-12">
                <h5>Colores</h5>
                <ul>
                    @foreach (var c in ViewBag.Colores)
                    {
                        <li>c:@c.Codigo - @c.Nombre</li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Crear nuevo cliente</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_PartialNewCliente")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>