﻿@model gtCalzado.Models.ManageProductosViewModel.ComprarDecenas
@{
    /**/

    ViewBag.Title = "Comprar docenas";
}

<h2 style="text-align:center">Ingreso por docenas</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-12 col-md-12">           

            @if (ViewBag.Ref != null)
            {
            <span class="alert alert-success">
                @Html.ActionLink("Ver compras agregadas para esta referencias", "Index", "Comprar", new { RefId = 9 }, new { target = "_blank" })
            </span>
            }
        </div>
        <br />
        <div class="col-lg-6 col-md-6">
            @Html.LabelFor(model => model.ProveedorId, "Proveedor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProveedorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ActionLink("Crear proveedor", "Index", "Proveedores", null, new { target = "_blank" })
                @Html.ValidationMessageFor(model => model.ProveedorId, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="col-lg-6 col-md-6">
            @Html.LabelFor(model => model.Decenas, "Para", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("Decenas", null, htmlAttributes: new { @class = "form-control" })
                @Html.ActionLink("Crear Docenas", "Index", "Decenas", null, new { target = "_blank" })
                @Html.ValidationMessageFor(model => model.Decenas, "", new { @class = "text-danger" })

            </div>
        </div>
        <br /><br />
        <div class="col-lg-6 col-md-6">
            @Html.LabelFor(model => model.ZapatoId, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ZapatoId",
                new SelectList(string.Empty,
                     "Value", "Text"),
                "Por favor seleccione el proveedor",
                new { @class = "form-control" })
                @Html.ActionLink("Crear nuevo producto", "Index", "Zapatos", null, new { target = "_blank" })
                @Html.ValidationMessageFor(model => model.ZapatoId, "", new { @class = "text-danger" })

            </div>
        </div>

        <br />
        <div class="col-lg-6 col-md-6">
            @Html.LabelFor(model => model.RefCompraId, "Ref. Compra", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("RefCompraId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RefCompraId, "", new { @class = "text-danger" })
                @Html.ActionLink("Crear nueva referencia para compra", "Index", "RefCompras", null, new { target = "_blank" })
            </div>
        </div>
        <br />
        <div class="col-lg-6 col-md-6">
            <label class="control-label col-md-2">Números:</label>
            <div>

                @Html.DropDownList("ProductosList",
                new SelectList(string.Empty,
                     "Value", "Text"),
                "Por favor seleccione el proveedor",
                new { @class = "form-control", multiple = "multiple" })
            </div>
        </div>
        <br />
        <div class="col-lg-6 col-md-6">
            @Html.LabelFor(model => model.ColorId, "Color", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("ColorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ColorId, "", new { @class = "text-danger" })
                @Html.ActionLink("Crear nuevo color", "Index", "Colores", null, new { target = "_blank" })
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" value="Cargar producto" class="btn btn-success btn-lg" />
        </div>
    </div>
</div>
}
