﻿@model IEnumerable<gtCalzado.Models.BarCode>

@{
    ViewBag.Title = "BarCode";
}

<h2>Códigos de barras generados</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor)
        </td>
        <td>
           <a href="@ViewBag.HostRoute@Html.DisplayFor(modelItem => item.Ruta)">Ver Códigos</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
         
    </tr>
}

</table>
