﻿@model IEnumerable<gtCalzado.Models.Compra>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@Html.ActionLink("Crear nueva compra por docenas", "Add", null, new { @class = "btn btn-success" })
@Html.ActionLink("Generar códigos de barras", "Index", "Printer", null, new { @class = "btn btn-info" })
@Html.ActionLink("Códigos de barras", "BarCode", "Comprar", null, new { @class = "btn btn-primary" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Referencia")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Talla.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZapatoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCambio)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RefCompra.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proveedor.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talla.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZapatoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCambio)
            </td>

        </tr>
    }

</table>
