﻿
@{
    ViewBag.Title = "Editar rol";
     
}

 
<h2>Editar roles</h2>
@Html.ActionLink("Volver a gestión de roles", "Index")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Nombre Rol
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </p>
    <input type="submit" value="GUARDAR REGISTRO" class="btn btn-lg btn-primary" />
}

