﻿
@{
    ViewBag.Title = "Gestión de roles";
    
}

<div class="card-title">
    <h1>Administrador Roles</h1>
    <br />
</div>

<div class="row col-sm-12 col-lg-12 col-md-12">


    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="container-fluid">
            <div class="card-title">
                <h4>Listado Roles</h4>
            </div>
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-hover col-sm-6 col-lg-6 col-md-6 ">
                        @foreach (var role in ViewBag.Roles)
                        {
                            <tr>
                                <td class="col-sm-1 col-lg-5 col-md-5">
                                    <strong>@role.Text </strong>
                                </td>
                                <td class="col-sm-1 col-lg-1 col-md-1">
                                    <span onclick="return confirm('Are you sure to delete?')"><a href="/Roles/Delete?RoleName=@role.Text" class="delLink" style="color:red;">Eliminar</a></span> |
                                    @Html.ActionLink("Editar", "Edit", new { roleName = @role.Text })
                                </td>
                            </tr>
                        }
                    </table>
                    </div>
                </div> <!-- End Panel Body-->
            </div> <!-- End Panel -->

        <div class="container-fluid">
            <div class="card-title">
                <h4>Crear nuevo Rol</h4>
            </div>
            <div class="card">
                <div class="card-block">
                    @using (Html.BeginForm("Create", "Roles", new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div>
                            Nombre Rol: @Html.TextBox("RoleName")
                            <input type="submit" value="CREAR ROL" class="btn-primary" />
                        </div>
                    }
                </div>
                </div> <!--End Panel Body-->
            </div> <!--End Panel-->
    </div> <!--End First Column-->

    <div class="col-sm-6 col-lg-6 col-md-6">
        <div class="container-fluid">
            <div class="card-title">
                <h4>Añadir Rol a un usuario</h4>
            </div>
            <div class="card">
                <div class="card-block">
                    @using (Html.BeginForm("RoleAddToUser", "Roles"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <p>Nombre Usuario: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...",new { @class = "form-control" })</p>
                        <p>Nombre Rol: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { @class = "form-control" })</p>
                        <p><input type="submit" value="AÑADIR ROL" class="btn-primary" /></p>

                    }
                    </div>
                </div> <!-- End Panel Body-->
            </div> <!-- End Panel -->


        <div class="container-fluid">
            <div class="card-title">
                <h4>Listado Roles por usuario</h4>
            </div>
            <div class="card">
                <div class="card-block">
                    @using (Html.BeginForm("GetRoles", "Roles"))
                    {
                        @Html.AntiForgeryToken()
                        <p>
                            Nombre Usuario: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...", new { @class = "form-control" })
                            <input type="submit" value="OBTENER ROL DE USUARIO" class="btn-primary" />
                        </p>
                    }

                    @if (ViewBag.RolesForThisUser != null)
                    {
                        <div class="alert-info">
                            <strong>Roles para este usuario </strong>
                            <ol>
                                @foreach (string s in ViewBag.RolesForThisUser)
                                {
                                    <li>@s</li>
                                }
                            </ol>
                        </div>
                    }
                </div>
            </div> <!-- End Panel Body-->
        </div> <!-- End Panel -->

        <div class="container-fluid">
            <div class="card-title">
                <h4>Eliminar Rol del usuario</h4>
            </div>
            <div class="card">
                <div class="card-block">
                    @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <p>Nombre Usuario: @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users, "Select ...", new { @class = "form-control" })</p>
                        <p>Nombre Rol: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { @class = "form-control" } )</p>
                        <p><input type="submit" value="Eliminar este usuario del rol" class="btn-primary" /></p>

                    }
                    </div>
                </div> <!-- End Panel Body-->
            </div> <!-- End Panel -->

    </div> <!--End Second Column-->

</div>  <!--Overall Page Wrapper-->

<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.Message
</div>


