﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
@font-face {
    font-family: 'Code128';
    src: url('code128.woff2') format('woff2'), url('code128.woff') format('woff');
}
.barcode {
    /* Use the name of the face that is installed, or the one you defined above */
    font-family: 'Code128';
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
