﻿@{
    ViewBag.Title = "Confirmación registro AlmaCalzado";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor revise su correo electrónico y confirme su dirección de correo electrónico.
</p>