﻿
@{
    ViewBag.Title = "Users";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="page-title">
            <h4>Usuarios  @Html.ActionLink("Crear nuevo usuario", "adduser")</h4>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-block">
                        <div class="table-overflow">
                            <table id="dt-opt" class="table table-lg table-hover">
                                <thead>
                                    <tr>

                                        <th>Usuario</th>
                                        <th>Nombres</th>
                                        <th>Correo</th>
                                        <th>Fecha</th>
                                        <th>Rol</th>
                                        <th>Estado</th>
                                        <th>Opiciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int contador = 1; }
                                    @foreach (var item in ViewBag.Users)
                                    {
                                    <tr>

                                        <td>
                                            <span class="title">@item.Usuario</span>
                                        </td>
                                        <td>
                                            <span class="title">@item.Nombres</span>
                                        </td>
                                        <td>
                                            <div class="relative mrg-top-15">
                                                <span class="text-info">@item.Correo</span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="mrg-top-15">
                                                <span>@item.Fecha.ToString("dd MMM yyyy hh:mm")</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="title">@item.Rol</span>
                                        </td>
                                        <td>
                                            @if (item.Estado)
                                            {

                                                <span class=" alert-success">Activo</span>

                                            }
                                            else
                                            {
                                                <span class=" alert-danger">Inactivo</span>

                                            }
                                        </td>

                                        <td></td>
                                    </tr>
                                        contador++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

