﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AlmaCalzado</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <style>


        form input, button {
            padding: 6px;
            font-size: 18px;
        }

        table {
            width: 100%;
            margin-bottom: 20px;
            border-collapse: collapse;
            background: #fff;
        }

        table, th, td {
            border: 1px solid #cdcdcd;
        }

            table th, table td {
                padding: 10px;
                text-align: left;
            }

        body {
            background: #ccc;
        }

        .add-row, .delete-row {
            font-size: 16px;
            font-weight: 600;
            padding: 8px 16px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Alma calzado", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (User.IsInRole("Empresa"))
                    {
                        <li>@Html.ActionLink("Zapatos", "Index", "Zapatos")</li>
                        <li>@Html.ActionLink("Compras", "Index", "Comprar")</li>
                        <li>@Html.ActionLink("F.Compra", "Index", "Facturas")</li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurar</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Docenas", "Index", "Decenas")</li>
                                <li>@Html.ActionLink("Cantidades", "Index", "Cantidades")</li>
                                <li>@Html.ActionLink("Sucursales", "Index", "Sucursales")</li>
                                <li>@Html.ActionLink("Categorías", "Index", "Categorias")</li>
                                <li>@Html.ActionLink("Tallas", "Index", "Tallas")</li>
                                <li>@Html.ActionLink("Colores", "Index", "Colores")</li>
                                <li>@Html.ActionLink("Proveedores", "Index", "Proveedores")</li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Venta Libre</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Venta libre", "Index", "ventalibres")</li>
                                <li>@Html.ActionLink("Devolucion Venta", "Index", "DevolucionVentaLibres")</li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario/Roles</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Usuarios", "Users", "Account")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Asesores ventas", "Index", "Asesores")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AlmaCalzado</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ScriptAlmaCalzado.js"></script>
   
</body>
</html>
