﻿
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.BarcodeImage == null)
{
    <h2>Generar códigos</h2>
    using (Html.BeginForm("Index", "Printer", FormMethod.Post))
    {<div class="form-horizontal">
            @Html.AntiForgeryToken()
            <div class="col-lg-6 col-md-6">
                @Html.Label("Referencias", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("RefCompraId", null, htmlAttributes: new { @class = "form-control" })

                    @Html.ActionLink("Crear nueva referencia para compra", "Index", "RefCompras", null, new { target = "_blank" })
                </div>
            </div>

            <input type="submit" class="btn  bg-success btn-lg" value="Generate Barcode" />
        </div>
    }
}

@if (ViewBag.ListCode != null)
{
    <br />
    @Html.ActionLink("Generar códigos", "BarCodeGenerate",new { RefCompraId = 6 }, new { @class = "btn btn-primary pull-right" })
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Proveedor</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var code in ViewBag.ListCode)
            {
            <tr>
                <td>@code.Referencia</td>
                <td>@code.Proveedor</td>
                <td>@code.Nombre</td>
                <td>@code.Cantidad</td>
                <td>@code.Precio</td>
                 
            </tr>
            }
        </tbody>
    </table>

}


